<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid" id="member-detail-area" style="height:80vh; min-height:1000px;">
            <div class="blank-area"></div>
            <div class="container" id="member-detail-name-area">
                <div class="row">
                    <div class="col">
                        <p class="fs-1" style="display: inline;">{{ member.nickname }}</p>
                        <p class="fs-3 fw-lighter text-body-tertiary" style="display: inline;">@{{ member.username }}</p>
                    </div>
                    <div class="col position-relative">
                        <form action="{% url 'member:sign-out' %}" method="GET">
                            <button class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y">로그아웃</button>
                        </form>
                    </div>
                </div>
                <p class="fs-6" style="margin-left:20px;">{{ member.self_introduce }}</p>
            </div>
            <div class="container" id="member-detail-info-area">
                <nav>
                    <div class="nav nav-tabs" id="member-detail=tab" role="tablist">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-solved-question" type="button" role="tab" aria-controls="nav-solved-question" aria-selected="true">푼 문제</button>
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-guessing-history" type="button" role="tab" aria-controls="nav-guessing-history" aria-selected="false">제출 기록</button>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="nav-solved-question" role="tabpanel" aria-labelledby="nav-solved-question" tabindex="0">
                        <div class="container" id="solved-question-table">
                            <br>
                            {% for question in solved_question %}
                                <a href="{% url 'question:question-detail' question.id %}"><p class="badge fs-6 text-bg-secondary">{{ question.id }} {{ question.title }}</p></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-guessing-history" role="tabpanel" aria-labelledby="nav-guessing-history" tabindex="0">
                        <div class="container" id="guessing-history-table">
                            <br>
                            <p class="fs-6">최근 20개분만 표시됩니다. </p>
                            <table class="table">
                                <tr>
                                    <th>제출번호</th>
                                    <th>제출일자</th>
                                    <th>문제</th>
                                    <th>질의실행시간 (ms)</th>
                                    <th>결과</th>
                                </tr>
                                {% for submit in submit_history %}
                                <tr>
                                    <th>{{ submit.id }}</th>
                                    <th>{{ submit.guess.submit_datetime }}</th>
                                    <th><a href="{% url 'question:question-detail' submit.guess.question.id %}">{{ submit.guess.question.title }}</a></th>
                                    <th>{{ submit.total_execution_time }}</th>
                                    <th>{{ submit.result.result_acronym }}</th>
                                </tr>
                                {% endfor %}
                            </table>
                            <div class="blank-area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'nav_bar_foot.html' %}
    </body>
</html>