<!DOCTYPE html>
<html>
    {%include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid">
            <div class="container">
                <div class="row position-relative" style="height:35vh; min-height:250px;">
                    <div class="col text-center position-absolute top-50 start-50 translate-middle">
                        <p class="fs-1">Queryjun, 쉽게 만들어진 SQL 연습</p>
                        <p class="fs-6">귀찮은 건 미리 다 해놨습니다</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-body-tertiary container-fluid position-relative" style="height:17.5vh; min-height:200px;">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row">
                    <div class="col col-sm-4">
                        <p class="fs-3 fw-semibold">현재 지원 벤더</p>
                        <p class="fs-6 fw-light">열심히 일해서 추가하겠습니다</p>
                    </div>
                    <div class="col col-sm-8">
                        <div class="row">
                            <div class="col">
                                <div class="card text-bg-dark bg-body-tertiary position-relative" style="width:100px; height:100px;">
                                    <img src="https://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg" class="card-img position-absolute top-50 start-50 translate-middle" style="width:60px; height:60px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid position-relative" style="height: 50vh; min-height:500px;">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row">
                    <div class="col">
                        <p class="fs-3 fw-semibold">시작하기</p>
                        <p class="fs-6 fw-light">여러분을 위해 준비된 무언가</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">걸음마</h5>
                                <hr>
                                <p class="card-text">처음부터 뭘 시작해야 할지 모르겠다면, 간단한 SELECT 질의문 구성으로 실력을 알아보세요. </p>
                                <a href="#" class="btn btn-primary">문제집</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="container-fluid">
        <div class="container-fluid" style="height:10vh; min-height:100px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="fs-3 fw-semibold text-center">더 살펴보기</p>
                        <p class="fs-6 fw-light text-center">이 사이트 그렇게 재미없는 곳 아닙니다</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-primary-subtle position-relative" style="height: 10vh; min-height:100px;">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="blank-area"></div>
                <div class="row text-center">
                    {% for metric in statics %}
                    <div class="col">
                        <p class="fs-6" style="font-weight: 600;">{{ metric.title }}</p>
                        <p class="fs-6">{{ metric.value }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="blank-area"></div>
            </div>
        </div>
        <div class="container-fluid position-relative" style="height: 50vh; min-height:500px;">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row text-center">
                    <div class="col">
                        <p class="fs-5 fw-normal">최근에 등록된 문제</p>
                        <ul class="list-group">
                            {% for question in paginated_question %}
                            <li class="list-group-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-truncate" href="{% url 'question:question-detail' question.id %}">{{ question.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <p class="fs-5 fw-normal">개설된 문제집</p>
                        <ul class="list-group">
                            {% for workbook in paginated_workbook %}
                            <li class="list-group-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-truncate" href="{% url 'workbook:workbook-detail' workbook.id %}">{{ workbook.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <p class="fs-5 fw-normal">기타 고지</p>
                        <ul class="list-group">
                            {% for notice in paginated_notice %}
                            <li class="list-group-item"><a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-truncate" href="{% url 'notice:notice-detail' notice.id %}">{{ notice.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include 'nav_bar_foot.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>