<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}

        <div class="container-fluid">
            <div class="container">
                <div class="title-detail-area">
                    <p class="fs-1">{{ workbook.title }}</p>
                    <p class="fs-6">{{ workbook.explaination }}</p>
                </div>
            </div>
        </div>
        
        <table>
            <tr>
                <th>문제 번호</th>
                <th>문제 제목</th>
            </tr>
            {% for question in workbook.included_question %}
            <tr>
                <th>{{ question.id }}</th>
                <th><a href="{% url 'question:question-detail' question.id %}">{{ question.title }}</a></th>
            </tr>
            {% endfor %}
        </table>

        {% include 'nav_bar_foot.html' %}
    </body>
</html>