<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid position-relative" style="height:60vh; min-height:600px;">
            <div class="container" id="search-option-bar"></div>
            <div class="container position-absolute top-50 start-50 translate-middle" id="workbook-table">
                <div class="list-group">
                {% for workbook in paginated_workbook %}
                <a class="list-group-item list-group-item-aciton" href="{% url 'workbook:workbook-detail' workbook.id %}">{{ workbook.title }}</a>
                {% endfor %}
                {% for e in empty %}
                <span class="list-group-item">&nbsp;</span>
                {% endfor %}
                </div>
            </div>
            <div class="container" id="string-search"></div>
            <div class="container"></div>
        </div>
        <div class="container-fluid bg-body-tertiary">
            <div class="blank-area"></div>
            <div class="container" id="featured-workbook-area">
                <p class="fs-3">Featured workbook</p>
                <div>
                    <div id="first-start-workbook">
                        <p class="fs-5">첫 시작을 위한 문제집</p>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{ first_start_workbook.title }}</h5>
                              <p class="card-text">{{ first_start_workbook.explaination }}</p>
                              <a href="#" class="btn btn-primary">문제집</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="blank-area"></div>
        </div>
        <hr class="container-fluid" style="margin:0;">
        {% include 'nav_bar_foot.html' %}
    </body>
</html>