<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid" style="height:80vh; min-height:700px;">
            <div class="container blank-area"></div>
            <div class="container">
                <div class="title-detail-area">
                    <p class="fs-1">{{ workbook.title }}</p>
                </div>
            </div>
            <hr class="container">
            <div class="container">
                <p class="fs-6">{{ workbook.explaination }}</p>
            </div>
            <div class="container">
                <div class="list-group">
                    {% for question in workbook.included_question %}
                    <a class="list-group-item" href="{% url 'question:question-detail' question.id %}">{{ question.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'nav_bar_foot.html' %}
    </body>
</html>