<html>
    <body>
        <h1><a href="{% url 'main:main' %}">QueryJun</a></h1>
        <p><a href="{% url 'member:member-detail' %}">account</a></p>
        <h1>답안 입력</h1>
        <br>
        <form action="{% url 'submit:submit-guess' question_id %}" method="post">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <label for="selected_vendor">Vendor</label>
            <select id="selected_vendor" name="selected_vendor">
                {% for vendor in vendor_option %}
                <option value="{{ vendor.id }}" {% if forloop.first %}selected{% endif %}>{{ vendor.showing_name }}</option>
                {% endfor %}
            </select>
            <br>
            <textarea {% if not user.is_authenticated %} disabled {% endif %} id="query_guess" name="query_guess" row="1"></textarea>
            <input {% if not user.is_authenticated %} disabled {% endif %} type="submit" value="submit">
        </form>
    </body>
</html>