<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid position-relative" style="height:60vh; min-height:600px;">
            <div class="blank-area"></div>
            <div class="container" id="search-option-bar"></div>
            <div class="container" id="question-table">
                <div class="list-group">
                {% for question in paginated_question %}
                <a class="list-group-item list-group-item-aciton" href="{% url 'question:question-detail' question.id %}">{{ question.title }}</a>
                {% endfor %}
                {% for e in empty %}
                <span class="list-group-item">&nbsp;</span>
                {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="blank-area"></div>
            </div>
            <div class="container">
                <ul class="pagination justify-content-center">
                    {% for page_number in paginated_question.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link {% if page_number == paginated_question.number %}active{% endif %}" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container" id="string-search"></div>
            <div class="blank-area"></div>
        </div>
        <div class="container-fluid bg-body-tertiary position-relative" style="height:15vh; min-height:150px;">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <p class="fs-3 text-body-tertiary">어떤 문제를 풀어야 하나요?</p>
                <p class="fs-6 text-body-tertiary"><a href="{% url 'workbook:workbook-list' %}">문제집</a>은 다양한 문제를 분류별로 묶어 제공하고 있습니다. 한번 구경해보세요. </p>
            </div>
        </div>
        <hr class="container-fluid" style="margin:0;">
        {% include 'nav_bar_foot.html' %}
    </body>
</html>