<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}
        <div class="container-fluid" style="height:80vh; min-height:700px;">
            <div class="container blank-area"></div>
            <div class="container" id="question-title-detail">
                <div class="question-title-area">
                    <p class="fs-1" id="question-title">{{ question.title }}
                    {% if is_solved %}
                        <span class="badge text-bg-success fs-6">clear</span>
                    {% endif %}
                    </p>
                </div>
            </div>
            <hr class="container">
            <div class="container" id="question-content-detail">
                <p class="fs-5" id="question-content">{{ question.explaination }}</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row d-flex">
                    <form action="{% url 'question:submit-redirect' question.id %}" post="get">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">풀기</button>
                    </form>
                </div>
            </div>
        </div>
        {% include 'nav_bar_foot.html' %}
    </body>
</html>