<html>
    {% include 'head.html' %}
    <body>
        {% include 'nav_bar_head.html' %}

        <div class="container-fluid" style="height:80vh; min-height:700px;">
            <div class="container" id="question-title-detail">
                <div class="question-title-area">
                    <p class="fs-1" id="question-title">{{ question.title }}
                    {% if is_solved %}
                        <span class="badge text-bg-success fs-6">clear</span>
                    {% endif %}
                    </p>
                </div>
                <hr>
            </div>
            <div class="container" id="question-content-detail">
                <p class="fs-5" id="question-content">{{ question.explaination }}</p>
            </div>
        </div>
        
        <h1>제출</h1>
        <form action="{% url 'question:submit-redirect' question.id %}" post="get">
            {% csrf_token %}
            <button>submit</button>
        </form>

        {% include 'nav_bar_foot.html' %}
    </body>
</html>