<nav class="navbar bg-body-tertiary" style="height: 300px;">
  <div class="container">
      <div class="row">
          <div class="col">
              <p class="fs-5 text-body-tertiary">사이트 맵</p>
              <hr>
              <ul class="fs-6 fw-lighter" style="list-style:none;">
                  <li><a class="text-body-tertiary link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'question:question-list' %}">문제</a></li>
                  <li><a class="text-body-tertiary link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'workbook:workbook-list' %}">문제집</a></li>
                  <li><a class="text-body-tertiary link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">고지</a></li>
              </ul>
          </div>
          <div class="col">
              <p class="fs-5 text-body-tertiary">연관 외부 링크</p>
              <hr>
              <ul class="fs-6 fw-lighter" style="list-style:none;">
                  <li><a class="text-body-tertiary link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">Github repository</a></li>
                  <li class="text-body-tertiary">Powered by <a class="text-body-tertiary link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="">Bootstrap</a></li>
              </ul>
          </div>
          <div class="col">
              <p class="fs-6 fw-lighter text-body-tertiary">뭐 부끄럽게 여기까지 스크롤을 내리고 그러십니까? 여기에는 별 특이한건 없습니다. 으레 다른 사이트들이 그렇듯 푸터일 뿐입니다.</p>
          </div>
      </div>
      <div class="row">
          <p class="fs-6 fw-lighter text-body-tertiary">Queryjun은 영리적 목적을 추구하기 위해 개설된 사이트가 아닙니다.</p>
      </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>